.App {
  text-align: center;

}

.header {
  width: fit-content;
  margin: 100px auto auto auto;
}

 span {
  font-size: 25px;
  color: darkgoldenrod;
 }

.main{
  width: fit-content;
  margin: auto;
}

.footer {
  width: fit-content;
  margin: auto;
}